		<div id="push"></div>
	</div> <!-- #wrap in moduel/navbar.html -->
	<div id="footer">
		<div class="container">
			<p class="muted credit">
				&copy;&nbsp;1998-<%= (new Date).getFullYear() %> Dyn &minus;&nbsp;
				<i class="glyph-inbox glyph-small"></i>&nbsp;<a href="/legal">Legal Notices</a> &minus;&nbsp;
				<i class="icon-heart"></i>&nbsp;<a href="/thanks">Thanks</a> &minus;&nbsp;
				<i class="glyph-share_alt glyph-small"></i>&nbsp;<a href="https://github.com/Hackademy2013/showcase">Forks</a>
			</p>
		</div>
	</div>
	<script type="text/javascript" src="/script/jquery-2.0.0.js"></script>
	<script type="text/javascript" src="/framework/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>