<% include module/head.html %>
<% include module/navbar.html %>
	<div class="container">
		<div class="page-header">
			<h1>
				Boots&nbsp;<small>Web UI Base</small>
			</h1>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Welcome</h3>
			</div>
			<div class="span6">
				<h3>Start Here</h3>
				<p>
					Have a look at <a href="<%= repo %>/blob/master/view/index.html">view/index.html</a>
					to get started. This is the landing page for the web UI. It shows the conventions for
					using included UI components and templating with
					<a href="https://github.com/visionmedia/ejs">EJS</a> and layouts and styles from the
					<a href="http://twitter.github.io/bootstrap/index.html">Bootstrap</a> framework.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Layout</h3>
			</div>
			<div class="span6">
				<h3>Reusable UI Components&nbsp;</h3>
				<p>
					These live in <a href="<%= repo %>/tree/master/view/module">view/module</a>. The order and
					placement of the following components are important due to dangling HTML tags... Check out
					<a href="<%= repo %>/blob/master/view/index.html">view/index.html</a> for details.
				</p>
				<table class="table">
					<tr>
						<td class="span2"><a href="<%= repo %>/blob/master/view/module/head.html">head.html</a></td>
						<td>
							<p>
								<strong>The <code>&lt;head&gt;</code> block.</strong> Stylesheets, <code>&lt;meta&gt;</code> tags, and
								the title of the page go here.
							</p>
							<p>
								Do not place <code>&lt;script&gt;</code> tags with <code>src</code>
								attributes in the <code>&lt;head&gt;</code> block. Stylesheets are going to slow down your
								page loads badly enough...
							</p>
						</td>
					</tr>
					<tr>
						<td class="span2"><a href="<%= repo %>/blob/master/view/module/navbar.html">navbar.html</a></td>
						<td>
							<strong><i class="icon-arrow-up"></i>&nbsp;The pretty black bar up there.</strong> Check out
							<a href="http://twitter.github.io/bootstrap/components.html#navbar">the docs</a> for details
							pertaining to Bootstrap's Navbar formatting.
						</td>
					</tr>
					<tr>
						<td class="span2"><a href="<%= repo %>/blob/master/view/module/foot.html">foot.html</a></td>
						<td>
							<p>
								<strong><i class="icon-arrow-down"></i>&nbsp;That magic grey bar that's always at the bottom of the page.</strong>
								Have a look at <a href="http://twitter.com/mdo">@mdo</a>
								and <a href="http://twitter.com/fat">@fat's</a>
								<a href="http://twitter.github.io/bootstrap/examples/sticky-footer-navbar.html">example</a> to
								see how it's done.
							</p>
							<p>
								<code>&lt;script&gt;</code> tags with <code>src</code>
								attributes do go here! While this is a questionable practice according to the W3C standard, placing your script
								tags at the end of the body will allow your page to render without waiting for jQuery and the Bootstrap pluggins
								to download in serial. This also means that you can't put <code>on{SomeEvent}</code> attributes or other
								<code>&lt;script&gt;</code> tags that depend on these scripts in your main HTML. Instead, put all of your
								scripts after their dependencies at the end of the <code>&lt;body&gt;</code> and use JQuery to register event
								handlers.
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Flair</h3>
			</div>
			<div class="span6">
				<h3>Glyphicons</h3>
				<p>
					In addition to the <a href="http://glyphicons.com/">Glyphicons</a> Halflings icon-set included in
					<a href="http://twitter.github.io/bootstrap/base-css.html#icons">Bootstrap</a>, the Glyphicons Free
					icon-set has been packaged in
					<a href="<%= repo %>/tree/master/resource/icon/glyphicons">resource/icon/glyphicons</a>
					with a <a href="<%= repo %>/boots/blob/master/resource/stylesheet/glyphicon.css">stylesheet</a>
					that allows icons to be used with the same syntax as Halflings from bootstrap.
				</p>
				<h4>How to use</h4>
				<p>
					All icons require an <code>&lt;i&gt;</code> tag with a unique class, prefixed with <code>glyph-</code>,
					instead of <code>icon-</code>. 
				</p>
				<pre class="prettyprint linenums">
&lt;i class="glyph-search"&gt;&lt;/i&gt;
</pre>
				<h3>Google Prettify</h3>
				<p>
					The minified source for
					<a href="https://code.google.com/p/google-code-prettify">google-code-prettify</a> from
					the Bootstrap <a href="http://twitter.github.io/bootstrap/base-css.html#code">documentation</a>
					site is included for your stylistic convenience.
				</p>
				<h4>How to use</h4>
				<p>
					Wrap codeblocks in <code>&lt;pre&gt;</code> tags with the <code>prettyprint</code> class, and optionally, the
					<code>linenums</code> class to add line numbers. Be careful to remove leading whitespace inside the block. Prettify
					will render <i>exactly</i> what it gets, indents and all!
				</p>
				<pre class="prettyprint linenums">
&lt;pre class="prettyprint linenums"&gt;
	&lt;i class="glyph-search"&gt;&lt;/i&gt;
&lt;/pre&gt;
</pre>
			</div>
		</div>
	</div>
<% include module/foot.html %>