<% include module/head.html %>
<body>
	<% include module/navbar.html %>
	<div class="container">
		<div class="page-header">
			<h1>
				Legal Notices&nbsp;<small>For the Suits</small>
			</h1>
		</div>
		<div class="row">
			<div class="span2">
				<h3>this</h3>
			</div>
			<div class="span6">
				<h3>Boots&nbsp;<small>by&nbsp;<a href="https://github.com/jmanero" target="_blank">John Manero</a></small></h3>
				<p>
					Boots is the property of John Manero and Dynamic Network Services Inc. ("Dyn"). It is provided "AS IS" under
					the terms of the MIT license without warranty of any kind, express or implied.
				</p>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<a href="<%= repo %>" target="_blank">
							<i class="icon-share"></i>&nbsp;Source Code
						</a>
					</li>
					<li>
						<a href="<%= repo %>/blob/master/LICENSE.txt" target="_blank">
							<i class="icon-share"></i>&nbsp;MIT License
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>require('things')</h3>
			</div>
			<div class="span6">
				<h3>Libraries</h3>
				<p>
					Third party libraries and frameworks used in this package are the property of their respective
					developers/maintainers and are subject to the terms defined in their respective licensing
					policies. Please visit the <a href="/thanks">credits</a> page for details therein.
				</p>
			</div>
		</div>
	</div>
<% include module/foot.html %>