<% include module/head.html %>
<body>
	<% include module/navbar.html %>
	<div class="container">
		<div class="page-header">
			<h1>
				Legal Notices&nbsp;<small>For the Suits</small>
			</h1>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Ownership</h3>
			</div>
			<div class="span6">
				<h3>Hackademy Apps</h3>
				<div class="well">
					Apps displayed by this site are the property of their respective developers/maintainers and Dynamic
					Network Services, Inc. ("Dyn"). Apps are subject to the terms defined in their respective licenses.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span2">&nbsp;</div>
			<div class="span6">
				<h3>Trademarks</h3>
				<div class="well">
					<p>Dynamic Network Services, Inc. ("Dyn") employs logos, images, drawings, designs, icons,
					photographs, video and audio clips, (collectively, the "Content"), in addition to trademarks,
					service marks and other intellectual property owned, controlled or licensed by Dyn that distinguish
					Dyn from other services and organizations. Usage of Content is not permitted unless explicitly
					stated otherwise. This Content, which is the exclusive property of Dyn, and the Dyn Website itself,
					which is a work product of Dyn, are protected by United States and foreign copyright laws, treaties
					and conventions and will be strictly enforced by Dyn.</p>
					<p>Unless explicitly stated otherwise, the Content is not permitted to be reproduced in any format
					for public or commercial consumption. A limited license is granted to any end user for non-commercial
					and non-public purposes to reproduce materials to support Dyn, but no right, title or interest in
					any downloaded material is transferred as a result of any such downloading or copying.</p>
					<p>Use and reproduction of materials found on this site for commercial purposes is granted by request
					only. This is done to prevent use of outdated materials or poor contextual referencing. Requests may
					be submitted via email to <a href="mailto:media-relations@dyndns.com">media-relations@dyndns.com</a>.
				
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span2">&nbsp;</div>
			<div class="span6">
				<h3>Libraries</h3>
				<div class="well">
					Third party libraries used in this app are the proberty of their respective developers/maintiners and
					are subject to the terms defined in their respective licenseing policies. Please visit the
					<a href="/thanks">credits</a> page for details therein.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>this</h3>
			</div>
			<div class="span4">
				<h3>Showcase&nbsp;<small>by&nbsp;<a href="https://github.com/jmanero">John Manero</a></small></h3>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<a href="https://github.com/Hackademy2013/showcase">
							<i class="icon-share"></i>&nbsp;Source Code
						</a>
					</li>
					<li>
						<a href="https://raw.github.com/Hackademy2013/showcase/master/LICENSE.txt">
							<i class="icon-share"></i>&nbsp;MIT License
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<% include module/foot.html %>