<% include module/head.html %>
<body>
	<% include module/navbar.html %>
	<div class="container">
		<div class="page-header">
			<h1>
				Thanks&nbsp;<small>This app made possible by</small>
			</h1>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Runtime</h3>
			</div>
			<div class="span6">
				<h3>Node.JS</h3>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<a href="http://nodejs.org/" target="_blank">
							<i class="icon-share"></i>&nbsp;nodejs.org
						</a>
					</li>
					<li>
						<a href="https://raw.github.com/joyent/node/master/LICENSE" target="_blank">
							<i class="icon-share"></i>&nbsp;MIT License
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Webframe</h3>
			</div>
			<div class="span6">
				<h3>Express</h3>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<a href="http://expressjs.com/" target="_blank">
							<i class="icon-share"></i>&nbsp;expressjs.com
						</a>
					</li>
					<li>
						<a href="https://raw.github.com/visionmedia/express/master/LICENSE" target="_blank">
							<i class="icon-share"></i>&nbsp;MIT License
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Template</h3>
			</div>
			<div class="span6">
				<h3>EJS</h3>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<a href="https://github.com/visionmedia/ejs" target="_blank">
							<i class="icon-share"></i>&nbsp;https://github.com/visionmedia/ejs
						</a>
					</li>
					<li>
						<a href="https://github.com/visionmedia/ejs" target="_blank">
							<i class="icon-share"></i>&nbsp;MIT License
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Style</h3>
			</div>
			<div class="span6">
				<h3>Bootstrap</h3>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<a href="http://twitter.github.io/bootstrap/" target="_blank">
							<i class="icon-share"></i>&nbsp;twitter.github.io
						</a>
					</li>
					<li>
						<a href="https://raw.github.com/twitter/bootstrap/master/LICENSE" target="_blank">
							<i class="icon-share"></i>&nbsp;Apache License 2.0
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Sanity</h3>
			</div>
			<div class="span6">
				<h3>jQuery</h3>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<a href="http://jquery.com/" target="_blank">
							<i class="icon-share"></i>&nbsp;http://jquery.com/
					</a>
				</li>
					<li>
						<a href="https://raw.github.com/jquery/jquery/master/MIT-LICENSE.txt" target="_blank">
							<i class="icon-share"></i>&nbsp;MIT License
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<h3>Flair</h3>
			</div>
			<div class="span6">
				<h3>Glyphicons</h3>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<a href="http://glyphicons.com/" target="_blank">
							<i class="icon-share"></i>&nbsp;glyphicons.com
						</a>
					</li>
					<li>
						<a href="http://creativecommons.org/licenses/by/3.0/legalcode" target="_blank">
							<i class="icon-share"></i>&nbsp;Creative Commons Attribution 3.0 Unported Legal Code
						</a>
					</li>
				</ul>
				<h3>Google Prettify</h3>
				<ul class="nav nav-tabs nav-stacked">
					<li>
						<a href="https://code.google.com/p/google-code-prettify/" target="_blank">
							<i class="icon-share"></i>&nbsp;code.google.com
						</a>
					</li>
					<li>
						<a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">
							<i class="icon-share"></i>&nbsp;Apache License 2.0
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<% include module/foot.html %>