<% include module/head.html %>
<body>
	<% include module/navbar.html %>

	<div class="page-header">
		<div class="container">
			<h1>
				Thanks&nbsp;<small>This page made possible by</small>
			</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<h3>Express</h3>
			<p>
				<a class="btn btn-link" href="http://expressjs.com/"> <i class="icon-share"></i>&nbsp;expressjs.com
				</a>
			</p>
			<p>
				<a class="btn btn-link" href="https://raw.github.com/visionmedia/express/master/LICENSE"> <i class="icon-share"></i>&nbsp;MIT
					License
				</a>
			</p>
		</div>
		<div class="row">
			<h3>Bootstrap</h3>
			<p>
				<a class="btn btn-link" href="http://twitter.github.io/"> <i class="icon-share"></i>&nbsp;twitter.github.io
				</a>
			</p>
			<p>
				<a class="btn btn-link" href="https://raw.github.com/twitter/bootstrap/master/LICENSE"> <i class="icon-share"></i>&nbsp;Apache
					License
				</a>
			</p>
		</div>
		<div class="row">
			<h3>EJS</h3>
			<p>
				<a class="btn btn-link" href="https://github.com/visionmedia/ejs"> <i class="icon-share"></i>&nbsp;https://github.com/visionmedia/ejs
				</a>
			</p>
			<p>
				<a class="btn btn-link" href="https://github.com/visionmedia/ejs"> <i class="icon-share"></i>&nbsp;MIT License
				</a>
			</p>
		</div>
		<div class="row">
			<h3>jQuery</h3>
			<p>
				<a class="btn btn-link" href="http://jquery.com/"> <i class="icon-share"></i>&nbsp;http://jquery.com/
				</a>
			</p>
			<p>
				<a class="btn btn-link" href="https://raw.github.com/jquery/jquery/master/MIT-LICENSE.txt"> <i
					class="icon-share"></i>&nbsp;MIT License
				</a>
			</p>
		</div>
		<div class="row">
			<h3>Glyphicons</h3>
			<p>
				<a class="btn btn-link" href="http://glyphicons.com/"> <i class="icon-share"></i>&nbsp;glyphicons.com
				</a>
			</p>
			<p>
				<a class="btn btn-link" href="http://creativecommons.org/licenses/by/3.0/legalcode"> <i class="icon-share"></i>&nbsp;Creative
					Commons Attribution 3.0 Unported Legal Code
				</a>
			</p>
			<pre>
THANK YOU FOR USING GLYPHICONS!

If you would like to be among the first ones to hear about all the news,
follow @glyphicons on Twitter.

LICENSE:
------------------- 
GLYPHICONS FREE are released under the Creative Commons Attribution 3.0
Unported (CC BY 3.0). The Glyphicons FREE can be used both commercially
and for personal use, but you must always add a link to www.glyphicons.com in a
prominent place (e.g. the footer of a website), include the CC-BY license and
the reference to www.glyphicons.com on every page using Glyphicons.

Glyphicons Halflings are also a part of Bootstrap by Twitter, and are released
under the same Apache 2.0 license as Bootstrap. While you are not required to
include attribution on your Bootstrap-based projects, I'd certainly appreciate
a visibile link back to glyphicons.com in any place you find appropriate
(footer, docs, etc).

All logos and trademarks in social icons are the property of the respective
trademark owners.

CONTACT:
-------------------
Web: http://glyphicons.com/
Email: glyphicons@gmail.com
Twitter: http://twitter.com/glyphicons

If you want to use the icons without restrictions, please buy any version on
www.glyphicons.com, thank you.

Jan Kovařík
			</pre>
		</div>
	</div>
<% include module/foot.html %>
